/****************************************************/
/*  CSS Stylesheet for Number 9 Web Design          */
/*  Revised by Darren Walkoski - April 15, 2015     */
/*  Background patterns from subtlepatterns.com     */
/****************************************************/

* {
    margin: 0;
    padding: 0;
    font-family: 'Lato', Helvetica, Arial, sans-serif;
    line-height: 1.5em;
    font-weight: 300;
}

body {
    background: white;
    color: #666;
    overflow-x: hidden;
    font-size: 20px;
}

nav {
    font-size: 15px !important;
}

a,
a:hover,
a:focus,
a:active,
a.active {
    outline: 0;
  	color: #b90005;
  	text-decoration: none;
}

a:hover,
a:focus {
  color: #ed0008;
}

.nav a:hover,
.nav a:focus {
	color: #262626 !important;
}

footer a {
	color: inherit;
}

footer a:hover,
footer a:focus {
	color: #b90005;
	text-decoration: none;
}


p,
p a {
	margin-bottom: 15px;
}

h1 {
	display: none;
}

h2 {
	margin: 0 0 50px;
	line-height: 1.0em;
	font-size: 32px;
}

h3 {
	font-size: 25px !important;
}

h4 {
	font-size: 20px;
	margin: 5px 0;
}


ul {
	margin: 0 0 20px 50px;
}


.no-top-margin {
	margin-top: 0 !important;
}
.no-bottom-margin {
	margin-bottom: 0 !important;
}
.no-top-padding {
	padding-top: 0 !important;
}
.no-bottom-padding {
	padding-bottom: 0 !important;
}

.margin-top-10 {
	margin-top: 10px;
}

.container {
	width: 100%;
	max-width: 1200px;
	padding-top: 50px;
	padding-bottom: 50px;
}


.btn {
	line-height: 1.0em;
  	padding: 7.5px 0 0;
}

.btn-success {
	padding: 15px 50px;
	margin: 0;
}

.btn-primary,
.btn-success {
	color: white;
	background-color: #b90005;
	border: none;
}

.btn-primary:hover,
.btn-success:hover {
	color: white;
	background-color: #ed0008;
}


.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active,
.btn-success:focus,
.btn-success.focus,
.btn-success:active,
.btn-success.active {
	color: white;
	background-color: #870005;
}

.form-control {
	color: #333;
	border-color: #ccc;
}

.form-control:focus {
	border-color: #808080;
}

.form-group.submit {
	margin-bottom: 0;
}

/*
.btn-social {
    display: inline-block;
    width: 50px;
    height: 50px;
    border: 2px solid #fff;
    border-radius: 100%;
    text-align: center;
    font-size: 20px;
    line-height: 45px;
}*/

.btn:focus,
.btn:active,
.btn.active {
    outline: 0;
}

.scroll-top {
    z-index: 1049;
    position: fixed;
    right: 2%;
    bottom: 2%;
    width: 50px;
    height: 50px;
}

.scroll-top .btn {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    font-size: 20px;
    line-height: 28px;
}

.scroll-top .btn:focus {
    outline: 0;
}


/***********************/
/*  Header Properties  */
/***********************/

.navbar .container {
	padding-top: 0;
	padding-bottom: 0;
	height: 100%;
}

.navbar-default {
	height: 140px;
	display: inline-block;
    text-transform: uppercase;

    -webkit-transition: height .3s;
    -moz-transition: height .3s;
    transition: height .3s;
}

.border-outer,
.border-inner {
	width: 100%;
	height: 7px;
	padding: 0 !important;
}
.border-inner {
	max-width: 1200px;
	margin: 0 auto;
}

.gradient-inner {
	background: rgb(229,229,229); /* Old browsers */
	background: -moz-linear-gradient(-45deg,  rgba(229,229,229,1) 0%, rgba(229,229,229,1) 25%, rgba(185,0,5,1) 75%, rgba(185,0,5,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(229,229,229,1)), color-stop(25%,rgba(229,229,229,1)), color-stop(75%,rgba(185,0,5,1)), color-stop(100%,rgba(185,0,5,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(-45deg,  rgba(229,229,229,1) 0%,rgba(229,229,229,1) 25%,rgba(185,0,5,1) 75%,rgba(185,0,5,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(-45deg,  rgba(229,229,229,1) 0%,rgba(229,229,229,1) 25%,rgba(185,0,5,1) 75%,rgba(185,0,5,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(-45deg,  rgba(229,229,229,1) 0%,rgba(229,229,229,1) 25%,rgba(185,0,5,1) 75%,rgba(185,0,5,1) 100%); /* IE10+ */
	background: linear-gradient(135deg,  rgba(229,229,229,1) 0%,rgba(229,229,229,1) 25%,rgba(185,0,5,1) 75%,rgba(185,0,5,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e5e5e5', endColorstr='#b90005',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.gradient-outer {
	background: rgb(229,229,229); /* Old browsers */
	background: -moz-linear-gradient(left,  rgba(229,229,229,1) 0%, rgba(229,229,229,1) 49%, rgba(185,0,5,1) 51%, rgba(185,0,5,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(229,229,229,1)), color-stop(49%,rgba(229,229,229,1)), color-stop(51%,rgba(185,0,5,1)), color-stop(100%,rgba(185,0,5,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  rgba(229,229,229,1) 0%,rgba(229,229,229,1) 49%,rgba(185,0,5,1) 51%,rgba(185,0,5,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  rgba(229,229,229,1) 0%,rgba(229,229,229,1) 49%,rgba(185,0,5,1) 51%,rgba(185,0,5,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  rgba(229,229,229,1) 0%,rgba(229,229,229,1) 49%,rgba(185,0,5,1) 51%,rgba(185,0,5,1) 100%); /* IE10+ */
	background: linear-gradient(to right,  rgba(229,229,229,1) 0%,rgba(229,229,229,1) 49%,rgba(185,0,5,1) 51%,rgba(185,0,5,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e5e5e5', endColorstr='#b90005',GradientType=1 ); /* IE6-9 */
}

div#navbar-spacer {
	height: 140px;
	-webkit-transition: height .3s;
	-moz-transition: height .3s;
	transition: height .3s;
}

.navbar-brand {
	padding: 0 15px;
}

.navbar-brand img {
	max-height: 140px;
	padding: 10px 0;
}

.navbar-collapse {
	-webkit-transition: padding .3s;
	-moz-transition: padding .3s;
	transition: padding .3s;
}

ul.nav li a {
	font-size: 20px;
	font-weight: 500;
	-webkit-transition: color .4s;
	-moz-transition: color .4s;
	transition: color .4s;

}

.menu-selected {
	color: black !important;
}

@media(min-width:768px) {

    .navbar-default.navbar-shrink,
    div#navbar-spacer.navbar-shrink {
        height: 85px;
    }

    .navbar-collapse {
        padding: 40px 0 0;
    }

    .navbar-collapse.navbar-shrink {
        padding: 12.5px 0 0;
    }
}


@media (max-width: 767px) {
	.navbar-collapse {
		overflow-x: visible;
		position: fixed;
		top: 0;
		right: 0;

		padding-right: 30px;
		padding-left: 15px;
		-webkit-overflow-scrolling: touch;
	}

	.navbar-collapse ul {
		padding: 3px 15px;
	}

	.navbar-collapse ul li {
		padding: 0 0 10px;
	}
	.navbar-collapse ul li:last-child {
		padding: 0;
	}

	.navbar-collapse ul li a {
		padding: 0;
	}
}

@media (max-width: 400px) {

	.navbar-default,
	div#navbar-spacer {
		height: 265px;
	}

	.navbar-brand {
		width: 100%;
	}

	.navbar-brand > img {
		margin: 0 auto;
	}


	.navbar-collapse {
		width: 100%;
		top: 140px;
		margin: 0 !important;
		padding: 0;
	}

	.navbar-collapse ul {
		margin: 0;
		padding: 0 0 10px;
	}

	.navbar-collapse ul li {
		margin: 0;
		text-align: center;
	}

	div.top {
		margin-top: 20px;
	}

}



/*************************/
/*  Homepage Properties  */
/*************************/

header {
/*	background: url('../img/bg/header.png');*/
	background: url('../footer_lodyas.png');
}

#amazingslider-1,
.amazingslider-wrapper-0,
.amazingslider-slider-0,
.amazingslider-box-0,
.amazingslider-swipe-box-0,
.amazingslider-space-0,
.amazingslider- {
	max-width: 1200px;
	max-height: 800px;
}

.amazingslider-nav-0 {
	width: 20% !important;
	margin: 0 !important;
}

.amazingslider-nav-container-0 {
	width: auto !important;
	height: 100% !important;
	padding-right: 8px !important;
}

.amazingslider-bullet-wrapper-0 {
	width: auto !important;
	height: 100% !important;
}

.amazingslider-bullet-0-0,
.amazingslider-bullet-0-1,
.amazingslider-bullet-0-2 {
	width: auto !important;
	height: 33.333% !important;
	margin: 0 !important;
	background: rgba(0,0,0,.6) !important;
}

.amazingslider-bullet-image-0 {
	width: auto !important;
	height: 100% !important;
	position: relative !important;
	margin: 0 auto !important;
}

.amazingslider-bullet-image-0 img {
	width: auto !important;
	height: 100% !important;
	display: block !important;
	margin: 0 auto !important;
	padding: 10px !important;
}

.amazingslider-nav-featuredarrow-0 {
	left: 100% !important;
	background: url('../img/slider/arrow.png') !important;
}

@media (max-width: 480px) {

	.amazingslider-nav-featuredarrow-0 {
		display: none !important;
	}
}


section#kit-builder {
	color: white;
	background: #ccc;
	background: url('../img/bg/tweed.png');
}

div#kit-builder-window {
	height: 500px;
	background: #ebebeb;
	background: url('../img/bg/lil_fiber.png');
	border: 3px solid #666;
}



/***********************/
/*  Brands Properties  */
/***********************/

div.brand-thumbs,
div.product-thumbs {
	background: #e5e5e5;
	cursor: pointer;
}

div.brand-thumbs div img,
div.product-thumbs div img {
	width: 100%;
	padding: 10%;
}

.selected {
	background: #ccc !important;
}

div.brand-info,
div.product-info {
	margin-top: 50px;
	visibility: hidden;
	display: none;
}

img.brand-cropped {
	margin-bottom: 45px
}


div.product-item {
	text-align: center;
}


/*************************/
/*  Products Properties  */
/*************************/


/************************/
/*  Contact Properties  */
/************************/

#map-canvas {
	width: 100%;
	height: 500px;
}

#content {
	font-size: 20px;
}



/***********************/
/*  Footer Properties  */
/***********************/

footer {
	text-align: center;
    color: #ccc;
	background: rgb(51,51,51); /* Old browsers */
	background: -moz-linear-gradient(-45deg,  rgba(51,51,51,1) 0%, rgba(51,51,51,1) 25%, rgba(0,0,0,1) 75%, rgba(0,0,0,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(51,51,51,1)), color-stop(25%,rgba(51,51,51,1)), color-stop(75%,rgba(0,0,0,1)), color-stop(100%,rgba(0,0,0,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(-45deg,  rgba(51,51,51,1) 0%,rgba(51,51,51,1) 25%,rgba(0,0,0,1) 75%,rgba(0,0,0,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(-45deg,  rgba(51,51,51,1) 0%,rgba(51,51,51,1) 25%,rgba(0,0,0,1) 75%,rgba(0,0,0,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(-45deg,  rgba(51,51,51,1) 0%,rgba(51,51,51,1) 25%,rgba(0,0,0,1) 75%,rgba(0,0,0,1) 100%); /* IE10+ */
	background: linear-gradient(135deg,  rgba(51,51,51,1) 0%,rgba(51,51,51,1) 25%,rgba(0,0,0,1) 75%,rgba(0,0,0,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#333333', endColorstr='#000000',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

footer h3{
    margin: 0 0 20px;
    font-size: 25px !important;
    text-align: center;
}

footer,
footer h4 {
	font-size: 15px;
}

footer div.container {
	padding: 0;
}

footer div.container div {
	padding: 40px 20px;
}


footer div.container div p,
footer div.container div h4 {
	margin: 0 30px 10px;
}

footer hr {
	margin: 20px;
	border-color: #666;
}

footer .fa {
	margin-right: 10px;
}

img.orchardcity {
	max-height: 75px;
}


@media (max-width: 767px) {

	.border-footer {
		display: inline-block !important;
		height: 1px;
	}
}